<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Om Sai Enterprises</a>
        <ul class="navbar-nav me-auto">
            <ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/members' routerLinkActive='active'>Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/lists' routerLinkActive='active'>Order</a>
                </li>
            </ng-container>
        </ul>
        <div class="dropdown" dropdown>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a routerLink='/member/edit' class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Logout</a>
            </div>
        </div>

    </div>
</nav>